.b-a {
  /* Reduce spacing between search box and file content to match gap between
   * search box and left of page. */
  margin-top: 7px !important;
}

.m-d {
  /* Hide the Chromium logo. */
  display: none;
}

.m-e {
  /* Reduce gap between search box and top of page to match gap between search
   * box and left of page. */
  margin-top: 0 !important;
}

.m-e td:first-child {
  /* Codesearch puts a hacky <td> element in to add some spacing on the left of
   * the search box. Hide it. */
  display: none;
}

.m-g {
  /* Align the search box with the button. */
  position: relative;
  top: 1px;
}
