.b-a {
  /* Reduce gap between search bar and file content. */
  margin-top: 6px !important;
}

.m-d {
  /* Make the Chromium logo a sensible size, and reposition. */
  height: 22px !important;
  margin-bottom: -2px !important;
  margin: -1px 0 0 0 !important;
  padding: 0 !important;
  position: relative;
  top: 2px;
  width: 22px !important;
}

.m-e {
  /* Reduce gap between top of page and search bar. */
  margin-top: 0px !important;
}
